{## UnivIt responsable : ismail errouk #}
{% extends 'admin/base-home.html' %}

{% block title %}
Add Student
{% endblock title %}

{% block content %}

{% load static %}

<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add Student</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <!-- {# {% url 'add_student_save' as action_path %}#}
                    {# {% include 'admin/form_template.html' with messages=messages form=form action_path=action_path
                    button_text="Save & Add Groups" %}#} -->
                    <div class="container" style="padding: 1%">
                        <form method="post" action="{% url 'add_student_save' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row" style="padding: 1%">
                                <div class="col">
                                    <label>First name :</label>
                                    <input type="text" class="form-control" placeholder="First name" required
                                        name="first_name">
                                </div>
                                <div class="col">
                                    <label>Last name :</label>
                                    <input type="text" class="form-control" placeholder="Last name" required
                                        name="last_name">
                                </div>
                            </div>
                            <div class="row" style="padding: 1%">
                                <div class="col">
                                    <label>Email :</label>
                                    <input type="text" class="form-control" placeholder="Email" name="email" required>
                                </div>
                            </div>
                            <div class="row" style="padding: 1%">
                                <div class="col">
                                    <label>Password :</label>
                                    <input type="password" class="form-control" placeholder="Password" required
                                        name="password">
                                </div>
                                <div class="col">
                                    <label>Confirm Password :</label>
                                    <input type="password" class="form-control" placeholder="Confirm Password" required
                                        name="confirm_password">
                                </div>
                            </div>
                            <div class="row" style="padding: 1%">
                                <div class="col">
                                    <label>CNE :</label>
                                    <input type="text" class="form-control" placeholder="CNE" required name="cne">
                                </div>
                                <div class="col">
                                    <label>Address :</label>
                                    <input type="text" class="form-control" placeholder="Address" required
                                        name="adresse">
                                </div>
                            </div>
                            <div class="row" style="padding: 1%">
                                <div class="col">
                                    <label>Telephone :</label>
                                    <input type="text" class="form-control" placeholder="Telephone" required
                                        name="telephone">
                                </div>
                                <div class="col">
                                    <label>Code Apogee :</label>
                                    <input type="text" class="form-control" placeholder="Code Apogee" required
                                        name="code_apogee">
                                </div>
                            </div>
                            <div class="row" style="padding: 1%">
                                <div class="col">
                                    <label>Profile Picture :</label>
                                    <input type="file" class="form-control" placeholder="Profile Picture" required
                                        name="profile_pic">
                                </div>
                            </div>
                            <div class="row" style="padding: 1%">
                                <div class="col">
                                    <label for="">Admin : </label>
                                    <select required name="select_admin">
                                        {% for admin in admins %}
                                        <option value="{{ admin.id }}">{{ admin.admin.first_name}}
                                            {{admin.admin.last_name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {# <button class="btn btn-success center" type="submit">Save & Add Group</button>#}
                            <div class="container">
                                <div class="row">
                                    <div class="col text-center">
                                        <button class="btn btn-success" type="submit">Save & Add Group</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.card -->


            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>

{% endblock content %}

{% block custom_js %}
{% comment %} Checking if email and username already exists or not usin Ajax {% endcomment %}



{% endblock custom_js %}