<!--
  EQUIPE  : CodeVerse
  @author : FIROUD Reda & OUSSAHI Salma
-->

{% extends '../base.html' %}


{% load static %}
{% load crispy_forms_tags %}
{% block title %} Emploi du temps {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xl-5 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-1">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">

                        <div class="col-auto">
                            <i class="fas fa-calendar-day fa-3x text-primary"></i>
                        </div>

                        <div class="col ml-4">
                            <div class="text-lg font-weight-bold text-primary text-uppercase mb-1"> Time Schedule</div>
                            <div class="h6 mb-0 font-weight-bold text-gray-800">Admin : {{ user.username }}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{% now "l d F Y, H:i" %}</h6>
        </div>
        <div class="card-body">
            
                        <form method="post" action="{% url 'AddPlanning' %}">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-group">
                                    {{ form.element_module|as_crispy_field }}
                                </div>
                                
                                <div class="form-group">
                                    {{ form.salle |as_crispy_field}}
                                </div>
                                <div class="form-group">
                                    {{ form.libelle |as_crispy_field}}
                                </div>
                                <div class="form-group">
                                    {{ form.professeur |as_crispy_field}}
                                </div>
                                <!--  -->
                                <div class="form-group">
                                    {{ form.groupe |as_crispy_field}}
                                </div>
                                <div class="form-group">
                                    {{ form.jour |as_crispy_field}}
                                </div>
                                <div class="form-group">
                                    {{ form.heure_debut|as_crispy_field }}
                                </div>
                                <div class="form-group">
                                    {{ form.heure_fin|as_crispy_field }}
                                </div>
                                
                                
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                        
 
        </div>

    </div>

   


{% endblock %}