{% extends 'teacher/base-home.html' %}

{% block title %}
    Teacher Home
{% endblock title %}

{% block content %}

{% load static %}

<section class="content">
    <p>KANNOUFA </p>
    <div class="timeline">
        <div class="timeline-item">
            <div class="timeline-item-marker">
                <div class="timeline-item-marker-text">...</div>
                <div class="timeline-item-marker-indicator"><i data-feather="check"></i></div>
            </div>
            <div class="timeline-item-content">First item</div>
        </div>
        <div class="timeline-item">
            <div class="timeline-item-marker">
                <div class="timeline-item-marker-text">...</div>
                <div class="timeline-item-marker-indicator"><i data-feather="check"></i></div>
            </div>
            <div class="timeline-item-content">Second item</div>
        </div>
        <div class="timeline-item">
            <div class="timeline-item-marker">
                <div class="timeline-item-marker-text">...</div>
                <div class="timeline-item-marker-indicator"><i data-feather="check"></i></div>
            </div>
            <div class="timeline-item-content">Third item</div>
        </div>
    </div>
</section>

  {% endblock content %}
