<!--
  EQUIPE  : CodeVerse
  @author : KANNOUFA FATIMA EZZAHRA
-->

{% extends '../base.html' %}


{% load static %}

{% block title %} Emploi du temps {% endblock %}

{% block content %}

  <div class="row">
    <div class="col-xl-5 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-1">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              
              <div class="col-auto">
                <i class="fas fa-calendar-day fa-3x text-primary"></i>
              </div>

              <div class="col ml-4">
                <div class="text-lg font-weight-bold text-primary text-uppercase mb-1"> Emploi du temps </div>
                <div class="h6 mb-0 font-weight-bold text-gray-800">Professeur : {{ user.username }}</div>
              </div>
              
            </div> 
          </div>
        </div>
    </div>
  </div>





  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Mardi 03/05/2022</h6>
    </div>
    <div class="card-body">

      <div id='calendar'></div>
    </div>

  </div>

  <script>

    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          timeZone: 'local', 
          locale: 'fr',
          
          
          headerToolbar: {
              left: 'prev,next today',
              center: 'title',
              right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },
          

          buttonText: {
              today:    'Aujourd\'hui',
              month:    'Mois',
              week:     'Semaines',
              day:      'Jour',
            },

            events: [
              {
                title: "Analyse de données",
                start: "2022-05-12",
                url: "http://localhost:8000/emploie/liste-presence/irisi/2/",
                color: "#FFE2E0",
                textColor: "#D90E00"
              },
              {
                title: "Intelligence artificielle",
                start: "2022-05-03",
                url: "http://localhost:8000/emploie/liste-presence/irisi/2/",
                color: "#FFF0D2",
                textColor: "#8D5D00"
              },
              {
                title: "Analyse de données",
                start: "2022-05-09",
                url: "http://localhost:8000/emploie/liste-presence/irisi/2/",
                color: "#D2FCFF",
                textColor: "#2400FF"
              }
            ]
        });
      calendar.render();
    });
  
  </script>


{% endblock %}