<!--
    EQUIPE   :  CodeVerse et ARopedia
    @authors :  + KANNOUFA F. EZZAHRA
                + MOUZAFIR ABDELHADI
-->


{% extends 'admin/base-home.html' %}

{% load static %}

{% block title %}
    Gestion de présence
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-xl-10 col-md-8 mb-4">
            <div class="card border-left-info shadow h-100 py-1">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                
                    <div class="col-auto">
                        <i class="fas fa-robot fa-3x text-info"></i>
                    </div>

                    <div class="col ml-4">
                        <div class="text-lg font-weight-bold text-info text-uppercase mt-1"> Entrainement des modèles pour la reconnaissance faciale </div>
                    </div>
                
                </div> 
            </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="font-weight-bold text-info mb-4"> Choisir la filière, le niveau puis le groupe pour entrainer le modèle </div>
            


            <!--
                ###############################################################
                ###############################################################
                ###############################################################
                ###############################################################
            -->
            <div id="modele-admin-form" class="row flatpickr flex align-items-center">
                {% csrf_token %}
                <div class="col-xl-3">
                    <div class="card border-left-primary shadow h-100 py-0">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          
                          <div class="col-auto">
                            <i class="fas fa-filter fa-2x text-primary"></i>
                          </div>
            
                          <div class="ml-4">
                            <div class="h5 font-weight-bold text-primary text-uppercase mb-1"> Filière </div>
                            <div class="dropdown col-3" id="filieres">
                                <button class="btn border-primary text-lg text-gray-900 dropdown-toggle" type="button" id="dropdownFilieres" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Filière
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownFilieres" id="filiere-data-box">
                                </div>
                              </div>
                          </div>
                          
                        </div> 
                      </div>
                    </div>
                </div>
        
                <div class="col-xl-3">
                    <div class="card border-left-primary shadow h-100 py-0">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          
                          <div class="col-auto">
                            <i class="fas fa-filter fa-2x text-primary"></i>
                          </div>
            
                          <div class="ml-4">
                            <div class="h5 font-weight-bold text-primary text-uppercase mb-1"> Niveau </div>
                            <div class="dropdown col-3" id="niveaux">
                                <button class="btn border-primary text-lg text-gray-900 dropdown-toggle" type="button" id="dropdownNiveaux" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Niveau
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownNiveaux" id="niveau-data-box">
                                </div>
                              </div>
                          </div>
                        </div>
                          
                      </div> 
                    </div>
                </div>
        
                <div class="col-xl-3">
                    <div class="card border-left-primary shadow h-100 py-0">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          
                          <div class="col-auto">
                            <i class="fas fa-filter fa-2x text-primary"></i>
                          </div>
            
                          <div class="ml-4">
                            <div class="h5 font-weight-bold text-primary text-uppercase mb-1"> Groupe </div>
                            <div class="dropdown col-3" id="groupes">
                                <button class="btn border-primary text-lg text-gray-900 dropdown-toggle" type="button" id="dropdownGroupes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Groupe
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownGroupes" id="groupe-data-box">
                                </div>
                              </div>
                          </div>
                        </div>
                          
                      </div> 
                    </div>
                </div>

                <a href="" class="btn btn-lg btn-primary disabled" id="btnBox">Entrainer le modèle</a>
            </div>
            <!--
                ###############################################################
                ###############################################################
                ###############################################################
                ###############################################################
            -->

            <br><br><br><br><br><br><br><br><br>
             
            <br><br>
            <a class="btn btn-success" href="{% url 'testerModel' %}"> Tester le modèle </a>
            <a class="btn btn-warning" href="{% url 'testRegisterBD' %}"> Enregistrer dans la présence salle I7 IRISI </a>
        </div>
    </div>

    
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

<script>

    const Form = document.getElementById('modele-admin-form')

    const FiliereDataBox = document.getElementById('filiere-data-box')
    const NiveauDataBox = document.getElementById('niveau-data-box')
    const GroupeDataBox = document.getElementById('groupe-data-box')
   
    const FiliereInput = document.getElementById('filieres') 
    const NiveauInput = document.getElementById('niveaux') 
    const GroupeInput = document.getElementById('groupes') 
    
    const dropdownFilieres = document.getElementById('dropdownFilieres')
    const dropdownNiveaux = document.getElementById('dropdownNiveaux')
    const dropdownGroupes = document.getElementById('dropdownGroupes')
    
    const btnBox = document.getElementById('btnBox')
    
    $.ajax({
        type: 'GET',
        url: '/face-recognition/filieres-json/',
        success: function(response){
            console.log(response.data)
            const filieresData = response.data
            filieresData.map( item => {
                const option = document.createElement('div')
                option.textContent = item.nom_filiere
                option.setAttribute('class', 'dropdown-item')
                option.setAttribute('id', item.nom_filiere)
                FiliereDataBox.appendChild(option)
            })
    
        },
        error: function(error){
            console.log(error)
        }
    })
    
   
    
    var selectedFiliere
    var selectedNiveau
    var selectedGroupe
   
    FiliereInput.addEventListener('click', e=>{
        console.log(e.target.id)
        selectedFiliere = e.target.id
    
    
        
        btnBox.classList.add('disabled')
    
   
        NiveauDataBox.innerHTML = ""
        GroupeDataBox.innerHTML = ""
        dropdownFilieres.textContent = e.target.id
        
        dropdownNiveaux.textContent = "Filière"
        dropdownGroupes.textContent = "Groupe"
    
        
    
        $.ajax({
            type: 'GET',
            url: `/face-recognition/niveaux-json/${selectedFiliere}`,
            success: function(response){
                console.log(response.data) 
                const niveauxData = response.data
                niveauxData.map( item => {
                    const option = document.createElement('div')
                    option.textContent = item.nom_niveau
                    option.setAttribute('class', 'dropdown-item')
                    option.setAttribute('id', item.nom_niveau)
                    NiveauDataBox.appendChild(option)
                })


                NiveauInput.addEventListener('click', e=>{
                    
                    btnBox.classList.add('disabled')
                    dropdownNiveaux.textContent = e.target.id
                    dropdownGroupes.textContent = "Groupe"
                    GroupeDataBox.innerHTML = ""
                    console.log(e.target.id)
                    selectedNiveau = e.target.id


                    $.ajax({
                        type: 'GET',
                        url: `/face-recognition/groupes-json/${selectedNiveau}`,
                        success: function(response){
                            console.log(response.data) 
                            const groupesData = response.data
                            groupesData.map( item => {
                                const option = document.createElement('div')
                                option.textContent = item.nom_group
                                option.setAttribute('class', 'dropdown-item')
                                option.setAttribute('id', item.nom_group)
                                GroupeDataBox.appendChild(option)
                            })
            
            
                            GroupeInput.addEventListener('click', e=>{
                                console.log(e.target.id)
                                selectedGroupe = e.target.id
                                
                                dropdownGroupes.textContent = e.target.id
                                btnBox.classList.remove('disabled')

                                btnBox.setAttribute("href", `/face-recognition/training/${selectedFiliere}/${selectedNiveau}/${selectedGroupe}/`)
                                console.log("attr = " + btnBox)
                            })
                    
                        },
                        error: function(error){
                            console.log(error)
                        }
                    })
                })
   
        
        
            },
            error: function(error){
                console.log(error)
            }
        })
    
    })


</script>
{% endblock content %}