<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">e-platform</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" />

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        {% url 'admin_home' as admin_home %}
        <a href="{{ admin_home }}" class="nav-link {% if request.path == admin_home %} active {% endif %}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <span>Admin Home </span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider" />

    <!-- Heading -->
    <div class="sidebar-heading">Interfaces</div>

    <!-- Entrainement du modèle-->
    <li class="nav-item">
        <a href="{% url 'EntrainementAdminDash' %}" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <span> Entrainement des modèles </span>
        </a>
    </li>
    <!-- Nav Item Etablissement -->
    <li class="nav-item active">

        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseUtilities22" aria-expanded="true"
            aria-controls="collapseUtilities22">
            <i class="fas fa-school"></i>
            <span>Etablissements</span>
        </a>
        <div id="collapseUtilities22" class="collapse show" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h2 class="collapse-header"> Gestion des établissements </h2>
                <a class="collapse-item active" href="{% url 'etablissement' %}">
                    <i class="far fa-circle nav-icon fa-sm"></i> Etablissement</a>

                <hr>
                <h2 class="collapse-header py-2">Gestion des filières</h2>
                <a class="collapse-item active" href="{% url 'filiere' %}"><i class="far fa-circle nav-icon fa-sm"></i>
                    Filières</a>
            </div>

        </div>

    </li>
    <!-- Nav Item - Manage Teachers -->
    {% url 'manage_teacher' as manage_teacher %}
    {% url 'edit_teacher' teacher_id=id as edit_teacher %}
    {% url 'add_teacher' as add_teacher %}
    <li
        class="nav-item {% if request.path == add_teacher or request.path == manage_teacher %} active {% endif %} {% if request.path == edit_staff %} active {% endif %}">

        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseUtilitiesProf" aria-expanded="true"
            aria-controls="collapseUtilitiesProf">
            <i class="fas fa-fw fa-book"></i>
            <span>Gestion des Professeurs</span>
        </a>
        <div id="collapseUtilitiesProf"
            class="collapse {% if request.path == add_teacher or request.path == manage_teacher or request.path == edit_staff %} show {% endif %}"
            aria-labelledby="headingUtilitiesProf" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h2 class="collapse-header"> Gestion des Professeurs</h2>
                <hr />
                <a class="collapse-item active" href="{{ add_teacher }}">
                    <i class="far fa-circle nav-icon fa-sm"></i> Ajouter des professeurs</a>
                <br />
                <a class="collapse-item active" href="{{ manage_teacher }}">
                    <i class="far fa-circle nav-icon fa-sm"></i> Gérer les professeurs</a>
            </div>
        </div>
    </li>

   

    <!-- Nav Item - Students -->
    {% url 'manage_student' as manage_student %}
    {% url 'edit_student' student_id=id as edit_student %}
    {% url 'add_student' as add_student %}
    <li
        class="nav-item {% if request.path == add_student or request.path == manage_student %} active {% endif %} {% if request.path == edit_student %} active {% endif %}">

        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseUtilitiesEtudiant"
            aria-expanded="true" aria-controls="collapseUtilitiesEtudiant">
            <i class="fas fa-fw fa-book"></i>
            <span>Gestion des étudiants</span>
        </a>
        <div id="collapseUtilitiesEtudiant"
            class="collapse {% if request.path == add_student or request.path == manage_student or request.path == edit_student %} show {% endif %}"
            aria-labelledby="headingUtilitiesEtudiant" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h2 class="collapse-header"> Gestion des Rôles</h2>
                <hr />
                <a class="collapse-item active" href="{{ add_student }}">
                    <i class="far fa-circle nav-icon fa-sm"></i> Ajouter des étudiants</a>
                <br />
                <a class="collapse-item active" href="{{ manage_student }}">
                    <i class="far fa-circle nav-icon fa-sm"></i> Gérer les étudiants</a>
            </div>
        </div>
    </li>
    <li class="nav-item active">

        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseUtilities11" aria-expanded="true"
            aria-controls="collapseUtilities11">
            <i class="fas fa-fw fa-book"></i>
            <span>Gestion des salles</span>
        </a>
        <div id="collapseUtilities11" class="collapse show" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item active" href="{% url 'AddTypeSalle' %}">
                    <i class="far fa-circle nav-icon fa-sm"></i> Type de salle</a>
                <hr>
                <a class="collapse-item active" href="{% url 'AddSalle' %}">
                    <i class="far fa-circle nav-icon fa-sm"></i> Salle</a>
                </div>

        </div>

    </li>


    <li class="nav-item active">

        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseUtilities1" aria-expanded="true"
            aria-controls="collapseUtilities1">
            <i class="fas fa-fw fa-book"></i>
            <span>Gestion des emplois</span>
        </a>
        <div id="collapseUtilities1" class="collapse show" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item active" href="{% url 'AddPlanning' %}">
                    <i class="far fa-circle nav-icon fa-sm"></i> Ajouter une séance</a>
                <hr>
                <a class="collapse-item active" href="{% url 'all' %}">
                    <i class="far fa-circle nav-icon fa-sm"></i> Toutes les séances</a>
                <hr>
                <a class="collapse-item active" href="{% url 'emploiAdmin' %}">
                    <i class="far fa-circle nav-icon fa-sm"></i> Checher un emploi</a>



            </div>

        </div>

    </li>




    {% url 'add_role' as add_role %}
    {% url 'manage_roles' as manage_roles %}
    <li class="nav-item {% if request.path == add_role or request.path == manage_roles %} active {% endif %}">

        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseUtilitiesRole" aria-expanded="true"
            aria-controls="collapseUtilitiesRole">
            <i class="fas fa-fw fa-book"></i>
            <span>Gestion des Rôles</span>
        </a>
        <div id="collapseUtilitiesRole"
            class="collapse {% if request.path == add_role or request.path == manage_roles %} show {% endif %}"
            aria-labelledby="headingUtilitiesRole" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h2 class="collapse-header"> Gestion des Rôles</h2>
                <hr />
                <a class="collapse-item active" href="{{ add_role }}">
                    <i class="far fa-circle nav-icon fa-sm"></i> Ajouter des rôles</a>
                <br />
                <a class="collapse-item active" href="{{ manage_roles }}">
                    <i class="far fa-circle nav-icon fa-sm"></i> Gérer les rôles</a>
            </div>
        </div>
    </li>

    {% url 'add_permission' as add_permission %}
    {% url 'manage_permissions' as manage_permissions %}
    <li
        class="nav-item {% if request.path == add_permission or request.path == manage_permissions %} active {% endif %}">

        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseUtilitiesPermission"
            aria-expanded="true" aria-controls="collapseUtilitiesPermission">
            <i class="fas fa-fw fa-book"></i>
            <span>Gestion des Permissions</span>
        </a>
        <div id="collapseUtilitiesPermission"
            class="collapse {% if request.path == add_permission or request.path == manage_permissions %} show {% endif %}"
            aria-labelledby="headingUtilitiesPermission" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h2 class="collapse-header"> Gestion des Permissions</h2>
                <hr />
                <!-- {% url 'add_permission' as add_permission %} -->
                <a class="collapse-item active" href="{{ add_permission }}">
                    <i class="far fa-circle nav-icon fa-sm"></i> Ajouter des permissions</a>
                <br />
                <!-- <hr> -->
                <!-- <h2 class="collapse-header py-2">Gérer les permissions</h2> -->
                <!-- {% url 'manage_permissions' as manage_permissions %} -->
                <a class="collapse-item active" href="{{ manage_permissions }}">
                    <i class="far fa-circle nav-icon fa-sm"></i> Gérer les permissions</a>
            </div>
        </div>
    </li>

    <li class="nav-item active">

        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true"
            aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-book"></i>
            <span>gestion des Modules</span>
        </a>
        <div id="collapseUtilities" class="collapse show" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h2 class="collapse-header"> Gestion des Modules </h2>
                <a class="collapse-item active" href="{% url 'display_majors' %}">
                    <i class="far fa-circle nav-icon fa-sm"></i> Fillières</a>

                <hr>
                <h2 class="collapse-header py-2">Tous les Modules</h2>
                <a class="collapse-item active" href="{% url 'manage_modules' %}"><i
                        class="far fa-circle nav-icon fa-sm"></i> Modules</a>

                <h2 class="collapse-header py-2">Tous les Elements Module</h2>
                <a class="collapse-item active" href="{% url 'manage_elem_modules' %}"><i
                        class="far fa-circle nav-icon fa-sm"></i> Elements Module</a>

            </div>

        </div>

    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block" />

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->