.tooltip {
  position: absolute;
  z-index: 1020;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 13px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.tooltip-inner {
  width: 350px;
  height: 30px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  /* background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #A2BBCC), to(#FFFFFF));  */
  /* background: -moz-linear-gradient(top, #ffffff, #0077ff 1px, #0077ff 25px); */
  background: #111111;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 3px;
  border: 1px solid #000000;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
}
