{% extends 'admin/base-home.html' %}
{% load module_extras %}
{% block content %}
    <div class="form-group">
        <div class="row">
            <div class="col-6">
                <label for="example">Create dataset</label>
                <input name="id_etud" id="id_etud" class="form-control" type="number" min=0>
            </div>
            <div class="col-6 mt-4">
                <button class="btn btn-primary create-data"   name="take">Create dataset</button>
            </div>
            <div class="col-6 mt-4">
                <form action="/training" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary "   name="train">train modele</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
$(document).ready(function() {

    $(".create-data").click(function(e){
        e.preventDefault();
        var str = $("#id_etud").val();
        console.log(str);
        if (str!= "" && parseInt(str)>0)
        {
            if ($('.video').length)
            {
                $('.video').replaceWith('<div class="row video"><img src="video_feed/'+parseInt(str)+'"></div>');
            }
            else {

                $('.form-group').append('<div class="row video"><img src="video_feed/'+parseInt(str)+'"></div>');
            }
        }
      });

 
});
    </script>
{% endblock content %}
