{% extends "cours/base.html" %}

{% load static %}

{% block title %} Chapitres : {{chapitre.libelle}} {% endblock title%}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "error" %}
                <div class="alert alert-danger" role="alert">
                    {{ message }} 
                    {% comment %} {{ message.tags }} {% endcomment %}
                </div>
            {% elif message.tags == "success" %}
                <div class="alert alert-success" role="alert">
                    {{ message }} 
                    {% comment %} {{ message.tags }} {% endcomment %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% comment %} <div class="alert alert-error" role="alert">
        iihdjkh
    </div> {% endcomment %}

    <div class="card o-hidden border-0 shadow-lg my-3">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-12 d-none d-block text-center">
                    <p class="m-3">
                        {{chapitre.libelle}} 
                    </p>
                    <hr class="mb-6">
                </div>
            </div>
            <div class="row">
                <div class="maincontainer">
                    <ul class="nav justify-content-center nav-pills"> 
                        <li class="active customized-nav"><a data-toggle="tab" href="#description">Description</a></li>  
                        <li class="customized-nav" ><a data-toggle="tab" href="#document">Documents</a></li>  
                        <li class="customized-nav" ><a data-toggle="tab" href="#ar">Modele AR</a></li>  
                    </ul> 
                    <hr>
                    <div class="tab-content scroll">  
                        <div id="description" class="tab-pane fade in active">  
                            <div class='row'>
                                <div class='col col-md-5 col-sm-6 col-12 '>
                                    {% comment %} {% if  %} {% endcomment %}
                                        <img src="/media/{{chapitre.image}}" alt="..." class="img-fluid">
                                    {% comment %} {% else %}
                                    {% endif %} {% endcomment %}
                                </div>
                                <div class='col col-md-7 col-sm-6 col-12'>
                                    <h2>Description</h2>  
                                    <p> {{chapitre.description}} </p>  
                                </div>
                            </div>
                        </div> 
            
                        <div id="document" class="tab-pane fade">  
                            <h2>Document</h2> 
                            <div class="row content" >
                            {% for document in documents %} 
    
                                <div class="col-lg-4 col-sm-6 mb-4">
                                    <!-- {% if document.type == "pdf" %}
                                    <img   class="Description"src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/1200px-PDF_file_icon.svg.png" alt="image" class="rounded">
                                    
                                    {% endif %}
                                    {% if document.type == "word" %}
                                    <img  class="Description"src="https://fr.qr-code-generator.com/wp-content/themes/qr/new_structure/markets/core_market/generator/dist/generator/assets/images/websiteQRCode_noFrame.png" alt="image" class="rounded">
                
                                    {% endif %}
                                    {% if document.type == "png" %}
                                    <img  class="Description"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcN-sb-i-ZpzD-w2JVRWNzn5q0bslc-MOQs2WcsFF80xkniCNphQuNHpVGrjQ1tWPBIro&usqp=CAU" alt="image" class="rounded">
                                    
                                    {% endif %} -->
                                    <img  class="Description"src="/media/img/cours/document_images/{{document.type}}.png" alt="image" class="rounded">

                                    <p>{{document.titre}}</p>  
                                    <div>
                                        <a href="{% url 'delete_document' document.id %}" class="btn btn-primary">Supprimer</a>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div> 
                
                        <div id="ar" class="tab-pane fade">  
                            <div class="row" >
                                {% for traitement in traitements %} 
                                <div class="col col-lg-3 col-md-4 col-sm-6 my-4 text-center card-border border">
                                    <div class="col col-12">
                                        {% if traitement.type_traitement == "Image" %}
                                        <img class="Description"src="/media/{{traitement.image.path_image}}" alt="image" class="rounded" width="900" height="100">
                                        {% endif %}
                                        {% if traitement.type_traitement == "QR-Code" %}
                                        <img  class="Description"src="/media/{{traitement.image.path_image}}" alt="image" class="rounded">
                                        {% comment %} <img  class="Description"src="https://fr.qr-code-generator.com/wp-content/themes/qr/new_structure/markets/core_market/generator/dist/generator/assets/images/websiteQRCode_noFrame.png" alt="image" class="rounded"> {% endcomment %}
                                        {% endif %}
                                        {% if traitement.type_traitement == "Texte" %}
                                        <img  class="Description"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcN-sb-i-ZpzD-w2JVRWNzn5q0bslc-MOQs2WcsFF80xkniCNphQuNHpVGrjQ1tWPBIro&usqp=CAU" alt="image" class="rounded">
                                        {% endif %}
                                    </div>
                                    <p>{{traitement.titre_traitement}}</p>  
                                     <!-- <div class='border'> -->
                                        {% comment %} <div>/media/{{traitement.image.path_image}}</div> {% endcomment %}
                                        <!-- <div class="col col-4 mt-4">
                                            <a href="{% url 'chapitre_details' chapitre.id %}" class="tooltip_update" title="Modifier le modèle"><i class="fa fa-pen" style="color:#e5bf41"></i></a>
                                        </div> -->
                                        <div class="col col-12 mt-4 text-center">
                                            <a href="{% url 'delete_traitement' traitement.id %}" class="tooltip_delete" style="color:#e14848" id="delete_object" title="Supprimer le modèle"><i class="fa fa-trash"></i></a>
                                        </div>

                                        <!-- <a href="{% url 'chapitre_details' chapitre.id %}" class="btn btn-primary">Modifier</a>
                                        <a id="delete_object"href="{% url 'delete_traitement' traitement.id %}"class="btn btn-primary">Supprimer</a> -->
                                    <!-- </div> -->
                                </div>
                                {% endfor %}
                            </div>
                            <br>  
                            <a  href="{% url 'add_traitement' chapitre.id%}"class="float" id="tooltip_add" title="Ajouter un nouveau modèle" >
                                <i class="fa fa-plus my-float"></i>
                            </a>
                        </div>  
                    </div> 
                </div>
            </div>
        </div>
    </div>


    {% block style %}
        <link href="{% static 'css/cours/custom_float_btn.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/cours/chapitre_details.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/cours/custom_tooltip.css' %}" rel="stylesheet" type="text/css">
    {% endblock style%}


    <style>
    </style>

    <script src=" {% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script>

        $('#delete_object').click(function(){
            return confirm('Vous êtes sûr que vous voulez supprimer ce modèle ?');
        })

        // var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        // var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        // return new bootstrap.Tooltip(tooltipTriggerEl)
        // })

        $(document).ready(function(){
            $("#tooltip_add").tooltip({
                placement:"auto"
            });              
        });

        $(document).ready(function(){
            $(".tooltip_update").tooltip({
                placement:"auto"
            });              
        });
        
        $(document).ready(function(){
            $(".tooltip_delete").tooltip({
                placement:"auto"
            });              
        });

    </script>
{% endblock content %}